html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

#mainDiv::after {
    content: '';
    vertical-align: middle;
    height: 80vh;
    display: inline-block;
}

#mainDiv {
    height: 100vh;
    font-size: 3vw;
}

#centeredDiv {
    vertical-align: middle;
    display: inline-block;
}

#tablePoint {
    display: flex;
}

#connexion {
    display: inline-block;
    text-align: center;
}

#pseudo {
    border: none;
    outline: none;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 30px;
    background-color: navajowhite;
}

#checkBox {
    display: flex;
    margin: 0 auto;
    font-size: small;
}

#submit {
    display: flex;
    margin: auto;
}

#morbak {
    box-shadow: 0 0 20px 6px blue, 0 0 20px 12px red;
    margin: 0 auto;
    animation: morbakAnim 3s;
}

@keyframes morbakAnim {
    0% {
        box-shadow: 0 0 20px 6px blue, 0 0 20px 12px red;
    }

    50% {
        box-shadow: 0 0 20px 6px blue, 0 0 20px 20px red;
    }
}

#result {
    margin: auto auto;
    display: none;
}

#morbak td {
    height: 5vw;
    width: 5vw;
    border: 2px ridge black;
    box-shadow: 0 0 5px 3px green;
}

#jouer, #submit {
    text-align: center;
    background: transparent;
    border: 1px solid black;
    padding: 4px 10px 2px 10px;
    font-size: medium;
}

#jouer:hover, #submit:hover {
    background-color: aliceblue;
    cursor: pointer;
}