html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

#game::after {
    content: '';
    vertical-align: middle;
    height: 80vh;
    display: inline-block;
}

#game {
    height: 100vh;
    font-size: 3vw;
}

#centeredDiv {
    vertical-align: middle;
    display: inline-block;
}

#tablePoint {
    display: flex;
}

#morbak {
    box-shadow: 0 0 20px 6px blue, 0 0 20px 12px red;
    margin: 0 auto;
    animation: morbakAnim 3s;
}

@keyframes morbakAnim {
    0% {
        box-shadow: 0 0 20px 6px blue, 0 0 20px 12px red;
    }

    50% {
        box-shadow: 0 0 20px 6px blue, 0 0 20px 20px red;
    }
}

#result {
    margin: auto auto;
    display: none;
}

#morbak td {
    height: 5vw;
    width: 5vw;
    border: 2px ridge black;
    box-shadow: 0 0 5px 3px green;
}

#jouer {
    text-align: center;
    background: transparent;
    border-radius: 5px;
    border: 2px solid black;
    padding: 3px 10px;
    font-size: 25px;
}

#jouer:hover {
    background-color: aliceblue;
    cursor: pointer;
}